<!-- Toolbar -->
<div class="nav-bar d-flex">
  <div class="container d-flex justify-content-center align-items-center">
    <img class="banner-logo " src="../assets/shoppies-logo.png">
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Search</h2>
        <form>
          <div class="form-group" class="inner-addon left-addon">
            <i class="glyphicon bi bi-search"></i>
            <input (input)="searchBarUpdated()" type="text" class="form-control" name="searchField" id="searchField"
              [(ngModel)]="searchField">
          </div>
        </form>
        
        <div style="margin-top: 60px;" class="container" *ngIf="searchResults.length == 0">
          <div class="row d-flex justify-content-center">
            <i class="no-movies-icon glyphicon bi bi-search"></i>
          </div>
          <div class="row d-flex justify-content-center">
            <h4 class="no-movies-text">Start typing to search for potential nominees.</h4>
          </div>
        </div>

        <div *ngFor="let movie of searchResults">
          <app-search-result (movieNominatedEvent)="handleMovieNominatedEvent($event)" [movie]="movie" [nominees]="nominees"></app-search-result>
          <hr>
        </div>

      </div>
      <div class="col-sm">
        <h2>Nominees</h2>
        <p>Nomination Completion:</p>
        <p><ngb-progressbar type="success" textType="white" [value]="getNominationPercentage()" [showValue]="true"></ngb-progressbar></p>

        <div style="margin-top: 60px;" class="container" *ngIf="nominees.length == 0">
          <div class="row d-flex justify-content-center">
            <i class="no-movies-icon glyphicon bi bi-trophy"></i>
          </div>
          <div class="row d-flex justify-content-center">
            <h4 class="no-movies-text">Nominate 5 movies.</h4>
          </div>
        </div>

        <div *ngFor="let movie of nominees">
          <app-nominee (movieDeletedEvent)="handleMovieDeletedEvent($event)" [movie]="movie"></app-nominee>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>