<!-- Toolbar -->
<div class="nav-bar" role="banner">
  <div class="container">
    <h2>The Shoppies</h2>
  </div>

</div>

<div class="content" role="main">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Search</h2>
        <form>
          <div class="form-group" class="inner-addon left-addon">
            <i class="glyphicon bi bi-search"></i>
            <input (input)="searchBarUpdated()" type="text" class="form-control" name="searchField" id="searchField"
              [(ngModel)]="searchField">
          </div>
        </form>

        <div *ngFor="let movie of searchResults">
          <app-search-result (movieNominatedEvent)="handleMovieNominatedEvent($event)" [movie]="movie" [nominees]="nominees"></app-search-result>
          <hr>
        </div>

      </div>
      <div class="col-sm">
        <h2>Nominees</h2>
        <div *ngFor="let movie of nominees">
          <app-nominee (movieDeletedEvent)="handleMovieDeletedEvent($event)" [movie]="movie"></app-nominee>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>